# Ignore everything
*

# But not these files...
!.gitignore
!UART_RX.qpf
!UART_RX.qsf
!UART_RX.vhd
!UART_RX_tb.vhd
!UART_TX.qpf
!UART_TX.qsf
!UART_TX.vhd
!UART_TX_tb.vhd
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*